body{
    background-color: #242582;
}
#title-head{
    font-family: 'Roboto Slab', serif;
    color: #f64c72;
    padding: 10px;
    
}

.nav-link{

    font-family: 'Roboto Slab', serif;
    color: #f4efef;
    background-color: #242582;
    padding: 20px;
    
}

.rick{
    display: block;
    margin:0 auto;
    width: 10%;
    position: relative;
    top: 150px;
}



#education{
    position: relative;
    padding-top: 190px;
    top: 25rem;
}

#experience{
    position: relative;
    padding-top: 100px;
    text-align: center;
    top: 60rem;
    
    
}

#skills{
    position: relative;
    text-align: center;
    top: 75rem;
    
}

#fun-facts{
    position: relative;
    padding-top: 110px;
    text-align: center;
    top: 90rem;
    
}

#hobbies{
    position: relative;
    padding-top: 110px;
    text-align: center;
    top: 120rem;
    
}

#contact-me{
    position: relative;
    margin-top: 100px;
    text-align: center;
    top: 140rem;
   
    

}


.vray{
    width: 200px;
}    
   
.vray:hover{
    background-color: #f4efef;
    border-radius: 0px 15px 15px 0px;
    
}

div.sketchup a{
    padding: 10px 12px;
    border-radius: 3px;
    padding-top: 250px;
    width: 300px;
    display: inline-block;
    margin-bottom: 10px;
}

#sketchup:hover{
    border-radius: 15px;
    background-color: #f4efef;
    
}

div.android a{
    padding: 10px 12px;
    border-radius: 3px;
    width: 100px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.kotlin:hover{
    background-color: #f4efef;
    
}

.compose:hover{
    background-color: #f4efef;
    border-radius: 10px;
    text-align: center;

}

div.animation a{
    padding: 10px 12px;
    border-radius: 3px;
    width: 100px;
    display: inline-block;
    
}




#connect{
    text-align: center;
    
    bottom: 0; 
    padding-top: 250px;
}

i{
    color: #f64c72;
}

i:hover{
    color: #f4efef;
}

.ani{
    font-family: 'Roboto Slab', serif;
    color: #f4efef;
    position: relative;
    top: 260px;
    right: 20%;
    
}
.self{
    font-family: 'Roboto Slab', serif;
    color: #f4efef;
    position: relative;
    right: 20%;
    top: 260px;
    
}


.line1{
    width:19%;
    position: relative;
    top: 210px;
    margin-left: 40%;
    margin-right: 40%;
    color: #f4efef;   } 
    




.time{
    font-family: 'Roboto Slab', serif;
    color: #f4efef;
    top: 180px;
    padding-left: 37%;
    position: relative;
    text-align: center;
    
}


p{
    font-family: 'Roboto Slab', serif;
    font-size:x-large;
    color: #f4efef;
    text-align: center;
    top: 15rem;
    position: relative;
    margin-right: 20%;
    margin-left: 20%;
    z-index: 1;


    
}

h2{
    font-family: 'Roboto Slab', serif;
    color: #CF9D4E;
    position: relative;
    top: 240px;
    text-align: center;
    
}
.container-fluid{
    position: fixed;
    z-index: 2;
    background-color: #242582;
    
    box-shadow: #242582 0px 0px 15px 20px;
    
    
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:  #f64c72;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #99738E;
  }

  .button{
    color: #f4efef;
  }


  @media(max-width: 991px){

    .rick{
        display: block;
        margin:0 auto;
        width: 20%;
        position: relative;
        top: 520px;
    }
    .about{
        position: relative;
        top: 520px;
        

    }

    p{
        font-family: 'Roboto Slab', serif;
        color: #f4efef;
        text-align: center;
        top: 32rem;
        position: relative;
        margin-right: 10%;
        margin-left: 10%;
        z-index: 1;
    
    
        
    }
    h2{
        font-family: 'Roboto Slab', serif;
        color: #CF9D4E;
        position: relative;
        top: 650px;
        text-align: center;
    }


    .education{
        position: relative;
        top: 500px;
        

    }
    #education{
        position: relative;
        padding-top: 150px;
        top: 30rem;
    }

    

    .experience{
        position: relative;
        padding-top: 80px;
        top: 250px;
        
    }

    #experience{
        position: relative;
        padding-top: 200px;
        top: 80rem;
        
        
    }
    #skills{
        position: relative;
        padding-top: 270px;
        top: 120rem;
        
    }

    .Fan-facts{
        position: relative;
        padding-top: 10px;
        top: 500px;
        
    }

    #fun-facts{
        position: relative;
        padding-top: 100px;
        top: 100rem;
        
        
    }

    .Hobbies{
        position: relative;
        
        top: 510px;
    }

    .skills{
        position: relative;
        
        top: 260px;

    }

    #contact-me{
        position: relative;
        padding-top: 100px;
        top: 160rem;
        
    
    }
 
}
